:root {
   

    --clr-light: rgb(241, 115, 168);
    --clr-bgr: #ac0b4e;
    --clr-accent1: #1a010b;
    --clr-accent2: #f5f2f7;
    --clr-accent3: #fdf5fc;
}

#outershell {
    height: 590px;
    width: 400px;
    position: relative; 
    background: var(--clr-bgr);
    background-image: url("images/blackpink.jpg"); 
    margin:auto;
    box-shadow: 10px 10px 10px #CCCCCC;
}

#y2k-wrap {
    background-image: url("images/dark-smoke.jpg");
    border-radius: 50px;
    box-shadow: 2px 2px 10px;
    position: absolute;
    top: 100px;
    margin-left: 50px;
    width: 300px;
    height: 400px;
    text-align: center;
}

ul{
    margin-top: 60px;
    list-style: none;
    padding: 0px;
    font-family: "Ultra", serif;
    font-weight: 800;
  }

#intro {
    font-size: 25px;
    color: var(--clr-light);
    text-shadow: 5px 2px 10px black;
}

  #names{
    font-size: 30px;
    color: rgb(241, 115, 168);
    text-shadow: 5px 2px 10px black;
  }

  #details{
    color: var(--clr-bgr);
    font-size: 15px;
    font-weight: 600;
  }
  
  #date{
    text-shadow: 5px 2px 10px black;
    color: var(--clr-accent1);
    font-size: 30px;
    padding-bottom: 5px;
  }

  #outershell .image-bg2 {
    display: block;
    object-fit: contain;
    z-index: 1;
    opacity: 0.65;
  } 

  a {
    list-style: none;
    color: var(--clr-bgr)

}

#whiteText{
    color: var(--clr-light);
    font-size: 12px;
}